.page {
    background: rgba(0, 0, 0, 0.0001);
    font-family: sans-serif;
}
.container-content {
    max-width: 1280px;
    margin: 61px auto 0;
}

.logo {
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 38px;
}

.blue {
    color: deepskyblue;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #35444F;
    padding-left: 0;
    height: auto;
    margin-top: 38px;
    margin-bottom: 50px;
}

.nav-item {
    padding: 26px 40px 19px;
    border: 1px solid white;
    border-collapse: collapse;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}

.aside {
    height: 500px;
}

.container-aside-img {
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.aside-list {
    list-style: none;
    padding-left: 0;
    border: 1px solid #000000;
    font-size: 27px;
    width: 344px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 399px;
    margin-top: 0;
}

.aside-link {
    padding: 25px 44px;
    text-decoration: none;
    color: #495863;
}


.image-text-container {
    display: flex;
    flex-direction: column;
    width: 885px;
}

.image-container {
    display: flex;
    border: 1px solid #000;
    height: 529px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.footer {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-top: 20px;
}

.low-nav {
    list-style: none;
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.low-nav-link {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    width: 25%;
    text-align: center;

}



