a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h3, h2 {
    margin: 0;
}

.page-body {
    font-family: sans-serif;
}
/*HEADER*/
.navigation-bar {
    height: 70px;
    display: flex;
    background-color: #313131;
    font-family: sans-serif;
    justify-content: space-between;
}

/* HEADER LOGO*/
.logo {
    width: 188px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
}

.logo-img {
    width: 27px;
    height: 27px;
    padding-right: 27px;
}

.logo-text {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}
/*HEADER NAVIGATION*/
.head-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 722px;
}

.nav-item {
    align-items: center;
}

.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav-link:hover {
    color: #14B9D5;
}

/* HEADER BUTTON*/

.button-search {
    width: 68px;
    height: 70px;
    background-color: #000000;
    background-image: url("../img/search-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

/*BACKGROUND WITH BUTTONS*/

.background {
    background-image: url("../img/background-header.jpeg");
    background-size: cover;
    background-position: center -400px;
    background-attachment: fixed;
    height: 369px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-bottom: 44px;
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.link-as-button {
    padding: 16px 19px;
    background-color: #89CA62;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 10px;
}

.blue-button {
    background: #14B9D5;
    padding: 16px 30px;
    margin-left: 10px;
}

/*MOST POPULAR POSTS*/

.posts {
    background-color: #F2F2F2;
}

.title-design {
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.posts-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1170px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

.posts-item {
    background-color: #FFFFFF;
    width: 370px;
    margin-bottom: 30px;
}

.posts-text {
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    background-color: #FFFFFF;
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

/*MOST POPULAR CLIENTS*/

.clients {
    background-image: url("../img/background-2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 588px;
}

.clients-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 106px;
    text-align: center;
}

.clients-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin: 86px auto 100px;
}

.clients-list {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-gap: 50px;
    justify-content: center;
}

/*TOP RATED*/

.top-rated-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-img {
   width: 100%;
}

/*HOT NEWS*/

.hot-news-container {
    margin: 0 auto;
    width: 1170px;
    display: grid;
    grid-gap: 44px;
    margin-bottom: 77px;
}

.hot-news-container-small {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 35px;
    text-align: end;
}

.hot-news-container-big {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 60px;
    text-align: end;
}

.grid-wide {
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 483px 373px;
    background-color: #F9F7F7;
}

.hot-news-text-wide {
    text-align: end;
    margin: auto 24px auto 10px;
}

.grid-middle {
    width: 554px;
    height: 418px;
    display: grid;
    grid-template-rows: 259px 157px;
    background-color: #F9F7F7;
}

.hot-news-text-middle {
    margin-top: 12px;
    margin-right: 13px;
}

.hot-news-title-middle {
    margin-right: 14px;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.grid-narrow {
    width: 277px;
    height: 259px;
    background-color: #F9F7F7;
    text-align: center;
}

.hot-news-title-narrow {
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.hot-news-item {
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.link-text-color {
    color: #5B6469;
}

.hot-news-title {
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

 /*FOOTER*/

.page-footer {
    background-color: #000000;
    height: 80px;
}

.all-rights {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.container-footer {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content max-content;
    align-content: center;
    grid-gap: 559px;
    height: 80px;
}

.footer-logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    grid-gap: 3px;
}




