p {
    margin: 0;
}

.content-wrapper {
    width: 1028px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-bottom: 20px;
}

/*BACKGROUND*/

.background-main {
    width: 100%;
    height: 100%;
    background-image: url("../img/background-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/

.header-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
}

/*LOGO*/

.logo-link {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.orange:hover {
    color: #F26522;
}

.logo-wrapper {
    position: relative;
}

.logo-orange {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.logo-milan {
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo-holidays {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.logo-text {
    padding-left: 10px;
}

/*CONTACTS*/

.contacts-wrapper {
    display: flex;
    flex-direction: column;
}

.mail-link {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.tel-link {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

/*MAIN*/

.posts-list {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
}

.posts-link {
    color: #FFFFFF;
}

.posts-item {
    text-align: center;
    position: relative;
}

.posts-image {
    width: 100%;
}

.posts-text {
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}

.price {
    background-color: #F26522;
    width: 302px;
    height: 55px;
    position: absolute;
    top: 165px;
    left: 0;
    text-align: left;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    z-index: -1;
}

.from-text {
    padding-bottom: 10px;
    padding-left: 14px;
    padding-top: 8px;
}

.price-wrapper {
    padding-left: 14px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price-text {
    font-size: 20px;
    line-height: 20px;
}

.price-view {
    font-size: 14px;
    line-height: 14px;
}

.price-view:after {
    content: '\003E';
    margin-left: 16px;
}


/*FOOTER*/

footer {
    text-align: center;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
  padding-top: 50px;
    padding-bottom: 20px;
}

.orange:hover {
    color: #F26522;
    fill: #F26522;
}

.orange:hover .price {
    z-index: 1;
}

.logo-img {
    fill: blue;
}

.logo-link:hover .logo-orange {
    z-index: 1;
}

.logo-link:hover .logo-white {
    z-index: -1;
}

