
body {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.blue {
    color: deepskyblue;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 50px;
    height: 73px;
    background-color: #35444F;
}

.header-nav-link {
    padding: 26px 40px 19px;
    border-left: 1px solid #FFF;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    display: block;
}

.main-nav {
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    margin-right: 52px;
}

.main-nav-item {
    padding: 25px 0 25px 44px;
}

.main-nav-link {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    display: block;
}

main {
    display: flex;
}

.content {
    width: 885px;
}

.image-wrapper {
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 35px;
}

.footer-container {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.footer-list {
    display: flex;
    width: 928px;
    justify-content: space-between;
    margin-left: 40px;
    align-items: center;
}

.footer-list-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}

.header-nav-link:hover {
    background: #222F3A;
}

.main-nav-item:hover {
    color: #35444F;
    text-align: center;
    background: #DBDBDB;
    padding-left: 0;
}

.footer-list-link:hover {
    color: deepskyblue;
    border-bottom: 1px solid deepskyblue;
}

