.page-body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0001);
}

a {
    text-decoration: none;
}

.page-body {
    color: #373737;
    font-weight: bold;

}

img {
    max-width: 100%;
    height: auto;
}

.picture {
    width: 100%;
    height: auto;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.naw-link {
    color: #FF0000;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.nav-item {
    display: inline;
    margin-right: 72px;
}

.topic {
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 10px;
    letter-spacing: 3.3px;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-top: 28px;
    margin-bottom: 0;
    letter-spacing: 2.4px
}

.button {
    color: #FFFFFF;
    background: #FF0000;
    border-style: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 18px 42.5px;
    margin-top: 66px;
    margin-bottom: 82px;
}

.copyright {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
    letter-spacing: 2.4px
}
