html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.background {
    background-image: url("../img/background-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.page-header {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

.header-wrapper {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #FFFFFF;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
}

.links-wrapper {
    display: flex;
    align-items: center;
}

.icons-wrapper {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.icons-link:hover .green-fill {
    fill: green;
}

.icons-wrapper:after {
    content: '';
    display: block;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
}

.header-link {
    color: #FFFFFF;
}


main {
    position: relative;
    height: calc(100% - 58px);
}

.sign-up-wrapper {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 444px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% );
}

.content-wrapper {
    margin: 0 auto;
    width: 324px;
    text-align: center;
    position: relative;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.sign-up-title {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign-up-title:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
    top: 30px;
}

.login-link {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.button-network {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    position: relative;
}

.button-svg {
    margin-right: 38px;
}

.button-text {
    display: flex;
    align-items: center;
}

.google-text {
    margin-right: 10px;
}

.button-text:before {
    content: '';
    display: block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    position: absolute;
    left: 48px;
    opacity: 0.1;
}

.facebook-button {
    background: #305DB8;
}

.google-button {
    background: #DF4A32;
}

.text-or {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.text-or:before {
    content: '';
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    margin-right: 5px;
}

.text-or:after {
    content: '';
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    margin-left: 5px;
}

.sign-up-form {
    display: grid;
    grid-gap: 15px;
}

.form-element {
    width: 324px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}

.text-input::-webkit-input-placeholder {
    color: #BEBEBE;
}

.form-element:active {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}


.checkbox-wrapper {
    margin-bottom: 5px;
    text-align: start;
}

.terms-link {
    color: #3CB878;
}

.create-account {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 16px 100px;
    border: none;
    margin-bottom: 40px;
}

.green:hover {
    color: #3CB878;
}

.link-hover:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.facebook-button:hover {
    background-color: #022263;
}

.google-button:hover {
    background-color: #AB1F09;
}

.create-account:hover {
    background-color: #01813F;
}
